.Count_AD{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  color: aliceblue;
  background-color: rgb(10, 3, 43);
  padding: 10px 20px;
  border-radius: 20px;
}
.Form_Ad{
    margin-left: 20px;
    width: 400px;
}
.Form_Ad h3{
    text-align: center;
    margin: 20px;
}

.Form_Ad  button{
    background-color: rgb(10, 65, 143);
    color: antiquewhite;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(10, 65, 143);
}

.Form_Ad  button:hover{
    background-color: rgb(5, 71, 13);
    color: antiquewhite;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(10, 65, 143);
}