* {
  padding: 0px;
  margin: 0px;
}

.peragraph {
  margin-top: 200px;
  padding: 50px 200px;
  margin-bottom: 70px;
  text-align: center;
  line-height: 25px;
  word-spacing: 2px;
}

.aboutus_h3 {
  position: relative;
  text-transform: uppercase;
  top: 60px;
  width: 200px;
  color: black;
  background-color: #cabeaf;
  height: 55px;
  float: left;
  margin-left: 50px;
  opacity: 0.5;
  border-radius: 5px;
}

.aboutus_h3 h2 {
  align-items: center;
  font-size: 25px;
  letter-spacing: 1px;
  position: relative;
  top: 12px;
  opacity: 0.5;
  padding: 0px 25px;
}
