.Resourses h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 25px;
}

.Resourses{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}