@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login_m2 {
    background-color: #e2e0e0e9;
    width: 100%;
    height: 40px;
  }
  
  .login_h3 {
    position: relative;
    text-transform: uppercase;
    top: 60px;
    width: 160px;
    color: black;
    background-color: #cabeaf;
    height: 55px;
    float: left;
    margin-left: 50px;
    text-align: center;
    opacity: 0.5;
    border-radius: 5px;
  }
  
  .login_h3 h2 {
    align-items: center;
    font-size: 25px;
    letter-spacing: 1px;
    position: relative;
    top: 12px;
    opacity: 0.5;
  }
  
  .login_label {
    margin-left: 100px;
    margin-top: 100px;
    position: relative;
    top: 80px;
  }
  .login_label label {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    color: #1e2a79;
    font-size: 20px;
    padding-top: 5px;
  }
  
  .login_label input {
    width: 500px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 2px 0px 2px 8px;
    font-size: 16px;
  }
  
  .log_rem {
    margin-top: 200px;
    position: relative;
    margin-bottom: 120px;
  }
  
  .log_rem button {
    padding: 5px 10px 5px 10px;
    float: left;
    margin-right: 20px;
    position: relative;
    bottom: 180px;
    background: linear-gradient(120deg,#616fcb,#2b45eb);
    box-shadow: 0px 1px 10px 0px black;
    border: none;
    margin-right: 40px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 16px;
  }
  
  .log_rem h2 {
    float: right;
    font-size: 15px;
    position: relative;
    bottom: 100px;
    margin-right: 5px;
  }
  .log_rem h4 {
    float: right;
    margin-right: 40px;
    position: relative;
    bottom: 100px;
    padding: 5px;
    margin-right: 50px;
    font-size: 15px;
  }
  
  @media (min-width: 620px) {
    .log_rem h2 {
      position: relative;
      right: 50px;
    }
  }

  
  @media (min-width: 553px) and (max-width: 620px) {

    .log_rem h2 {
      position: relative;
      right: 50px;
      font-size: 14px;
    }
    .log_rem h4 {
      position: relative;
      right: 0px;
      font-size: 14px;
    }
  }
  
  @media (min-width: 403px) and (max-width: 620px) {
    .login_label input {
      width: 200px;
      height: 30px;
    } 
    .log_rem h2 {
      position: relative;
      left: -20px;
      font-size: 13px;
    }
    .log_rem h4 {
      font-size: 13px;
      position: relative;
      left: 30px;
    }
    
  }
  
  @media (min-width: 320px) and (max-width: 403px) {
    .login_label input {
      width: 200px;
      height: 40px;
    }
    .log_rem {
      font-size: 12px;
      padding-top: 10px;
    }
    .log_rem h2 {
      padding-top: 10px;
      font-size: 12px;
      position: relative;
      right: 10px;
    }
    .log_rem h4 {
      position: relative;
      bottom: 100px;
      left: 40px;
      font-size: 12px;
    }
  }