* {
  margin: 0;
  padding: 0;
}

.main-myadd {
  position: relative;
  text-transform: uppercase;
  top: 60px;
  width: 250px;
  color: black;
  background-color: #cabeaf;
  height: 60px;
  float: left;
  margin-left: 50px;
  text-align: center;
  opacity: 0.5;
  border-radius: 5px;
  z-index: -1;
}

.main-myadd h2 {
  align-items: center;
  font-size: 25px;
  letter-spacing: 1px;
  position: relative;
  top: 12px;
  opacity: 0.5;
}


.main-post {
  position: relative;
  text-transform: uppercase;
  top: 250px;
  width: 250px;
  color: black;
  background-color: #cabeaf;
  height: 60px;
  float: left;
  margin-left: 40%;
  text-align: center;
  opacity: 0.5;
  border-radius: 5px;
  z-index: -1;
  margin-top: 100px;
  margin-bottom: 400px;
}

.main-post h2 {
  align-items: center;
  font-size: 25px;
  letter-spacing: 1px;
  position: relative;
  top: 12px;
  opacity: 0.5;
}


.adsdetal {
  position: relative;
  top: 200px;
  background-color: rgb(226, 243, 243);
  width: 350px;
  margin-left: 300px;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 2px 1px 10px 0px rgb(109, 108, 108);

}

.adsdetal button {
  position: relative;
  left: 65px;
}

.adsdetal input,
.adsdetal label {
  position: relative;
  left: 10px;
}

@media (min-width: 720px) and (max-width: 894px) {
  .adsdetal {
    position: relative;
    top: 200px;
    background-color: rgb(226, 243, 243);
    width: 300px;
    margin-left: 200px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 2px 1px 10px 0px rgb(109, 108, 108);
  }

  .adsdetal h3 {
    position: relative;
    right: 60px;
    top: 10px;
  }

  .adsdetal input,
  .adsdetal label {
    position: relative;
    left: 15px;
  }
  .adsdetal h4{
    position: relative;
    left: 10px;
  }
}

@media (min-width: 620px) and (max-width: 720px) {
  .adsdetal {
    position: relative;
    top: 200px;
    background-color: rgb(226, 243, 243);
    width: 300px;
    margin-left: 120px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 2px 1px 10px 0px rgb(109, 108, 108);
  }

  .adsdetal h3 {
    position: relative;
    right: 140px;
    top: 10px;
  }

  .adsdetal input,
  .adsdetal label {
    position: relative;
    left: 15px;
  }
  .adsdetal h4{
    position: relative;
    left: 10px;
  }
}

@media (min-width: 552px) and (max-width: 620px) {
  .adsdetal {
    position: relative;
    top: 200px;
    background-color: rgb(226, 243, 243);
    width: 300px;
    margin-left: 80px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 2px 1px 10px 0px rgb(109, 108, 108);
  }

  .adsdetal h3 {
    position: relative;
    right: -10px;
    
  }

  .adsdetal input,
  .adsdetal label {
    position: relative;
    left: 15px;
  }
  .adsdetal h4{
    position: relative;
    left: 10px;
  }

  .main-post {
    margin-left: 20%;
    
  }

}
@media (min-width: 420px) and (max-width: 552px) {
  .adsdetal {
    position: relative;
    top: 200px;
    background-color: rgb(226, 243, 243);
    width: 300px;
    margin-left: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 2px 1px 10px 0px rgb(109, 108, 108);
  }

  .adsdetal h3 {
    position: relative;
    right: -10px;
    
  }

  .adsdetal input,
  .adsdetal label {
    position: relative;
    left: 15px;
  }
  .adsdetal h4{
    position: relative;
    left: 10px;
  }

  .main-post {
    margin-left: 15%;
    
  }

}


@media (min-width: 368px) and (max-width: 420px) {

  .main-myadd {
    height: 50px;
    width: 200px;
  }
  .main-myadd h2{
    font-size: 18px;
  }
  .main-post {
    height: 50px;
    width: 200px;
  }

  .main-post {
    font-size: 18px;
    margin-left: 14%;
  }
  .adsdetal {
    position: relative;
    top: 200px;
    background-color: rgb(226, 243, 243);
    width: 280px;
    margin-left: 20px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 2px 1px 10px 0px rgb(109, 108, 108);
  }

  .adsdetal h3 {
    position: relative;
    right: -10px;
    
  }
}

