@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main_img{
    background-image: url("./images/3.jpg");
    box-shadow: inset 0 0 0 2000px #21202098;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    text-align: center;
    animation: bgchange 20s infinite;
}
@keyframes bgchange{
    0%{
        background-image: url('images/1.jpg');
    }
    33.33%{
        background-image: url('images/2.webp');
    }
    
    66.67% {
        background-image: url('images/4.webp');
    }
    100%{
        background-image: url('images/3.jpg');
    }

}

.main_img h2 {
  font-size: 70px;
  color: rgb(250, 250, 250);
  font-family: Inria Serif;
  padding-top: 220px;
}
.main_img p {
  margin-top: 70px;
  text-align: center;
  line-height: 24px;
  color: #c8d0e5;
  padding: 0 170px;
}
.main_icons .icons {
  display: flex;
  flex-wrap: wrap;
  background-color: #e1f0f9;
  justify-content: center;
}
.main_icons .icons img {
  height: 125px;
  width: 125px;
  margin: 35px;
  cursor: pointer;
}

.main_icons .icons img:hover {
  height: 150px;
  width: 150px;
  margin: 35px;
}

.main_icons .icons .h1:hover {
  height: 150px;
  width: 180px;
  margin: 35px;
}
.main_icons .icons img:last-child {
  width: 160px;
  height: 138px;
}
.textEffect {
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
  cursor: pointer;
}
.text {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  top:60px;
  opacity: 0;
  transition: top 0.8s;
  color: white;
  font-size: 12px;
  text-align: center;
  z-index: 2;
}
.default{
  text-align: center;
  color: #fff;
  align-items: center;
  padding-top: 60px;
  font-size: 14px;
}
.textEffect:hover .text {
  top: 50%;
  text-align: center;
  opacity: 1;
  color: #000;
  font-weight: 500;
}
.textEffect:hover .default {
    opacity: 0;
}
.textEffects {
  justify-content: center;
  align-items: center;
}
.upper_side, .down_side {
  display: flex;
  flex-direction: row;
}

@media (min-width: 300px) and (max-width: 768px) {
  .main_img h2 {
    font-size: 60px;
    color: rgb(250, 250, 250);
    font-family: Inria Serif;
    padding-top: 220px;
  }
  .main_img p {
    margin-top: 70px;
    text-align: center;
    line-height: 22px;
    color: #c8d0e5;
    padding: 0 20px;
  }
  .textEffects{
    display: flex;
    flex-direction: column;
  }
  .upper_side, .down_side {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width:769px) {
  .textEffects {
    display: flex;
    flex-direction: column;
  }
}
