img{
    
    width: 35px;
    height: 35px;
    margin-left: 40px;
}
.learnmate{
   
   
    background-color:rgb(124, 173, 189) ;
    width: 1400px;
    height: 300px;
    margin-left: 50px;
    border-radius: 10px;
}

p{
    font-size: 20px;
    margin-left: 20px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.UploadBox {
    margin-bottom: 20px; 
  }
  input{
    margin-left: 30px;
  }
  .topic{
    font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
    color: rgb(8, 8, 86);
    font-weight: bold;
    text-align: left;
    margin-left: 40px;
    margin-top: 30px;
    line-height: 2; 
    letter-spacing: 1px; 
    
  }
  .lessonlabel{
    margin-top: 10px;
  }
  button{
    width: 150px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  background-color: #11305f;
  color: white;
 border: 2px;
  border-radius: 5px;
  cursor: pointer;
}